section.projetos{
  max-width: 1200px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

section.projetos h1{
  text-align: center;
  font-size: 1.8rem;
  text-decoration: underline;
  text-decoration-color: var(--secondary);
  text-underline-offset: 8px;
}

section.projetos p{
  padding: 0px 10px;
  text-align: justify;
  align-self: flex-start;
}

section.cards{
  max-width: 1200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
  gap: 10px;
  margin: 10px 0px;
  padding: 0px 10px;
}

section.cards div.card{
  flex: 1 1 calc(30% - 20px);
  min-height: 100px;
  min-width: 230px;
  max-width: 500px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 10px;
  
  padding: 10px;
  border-radius: 10px;
  border: var(--tertiary) 2px solid;
  background-color: var(--transparence20);
  transition: 1s;
}
section.cards div.card:hover{
  background-color: var(--transparence40);
  box-shadow: 0px 0px 10px 5px var(--transparence80);
}

section.cards div.card h2{
  text-align: center;
  font-size: 1.4rem;
  text-decoration: underline;
  text-decoration-color: var(--secondary);
  text-underline-offset: 8px;
  margin-bottom: 3px;
}

section.cards div.card p{
  text-align: justify;
}

section.cards div.card div.buttons{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

section.cards div.card div.buttons button{
  background-color: var(--transparence10);
  border-radius: 20px;
  border: var(--tertiary) 2px solid;
  padding: 5px 10px;
  margin: 5px;
}

section.cards div.card div.buttons button:hover{
  background-color: var(--transparence40);
  box-shadow: 0px 0px 5px 2px var(--transparence80);
}

section.cards div.card div.buttons a{
  font-size: 0.9rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--tertiary);
}

section.cards div.card div.buttons a:hover{
  text-decoration: underline;
}