main{
    max-width: 1440px;
    margin: 0px auto;
    padding: 0px 20px;
    background-color: #FFFFFF08;
}

div.principal{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

main section.info{
    display: flex;
    flex-flow: column nowrap;
    max-width: 300px;
    width: 100%;
    gap: 10px;
    background-color: #FFFFFF70;
    padding: 0px 10px;
    border-radius: 10px;
}

main section.info p{
    text-align: center;
    font-size: 1rem;
    color: #000000b6;
}

main section.info section.formacao div{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1px;
    margin-bottom: 10px;
    color: #000000;
}

main section.detalhes{
    display: flex;
    flex-flow: column nowrap;
    max-width: 500px;
    width: 100%;
}

main section.info section.formacao,
main section.detalhes section.experiencias{
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    gap: 10px;
}

main section.detalhes section.experiencias div{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 10px;

}

main section.projetos{
    width: 100%;
    max-width: 800px;
    margin: 0px auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

main section.projetos section.cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 10px;
}

main section.projetos section.cards div.card{
    flex-basis: calc(50% - 10px); 
    box-sizing: border-box; 
    background-color: #7f8c8d40;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #000000;
}

main section.projetos section.cards div.card div.buttons{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

main section.projetos section.cards div.card div.buttons button{
    padding: 2px 5px;
    border-radius: 15px;
    border: 1.5px solid #000000;
    background-color: transparent;
    color: #000000;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
main section.projetos section.cards div.card div.buttons button:hover{
    transform: scale(1.1);
    background-color: var(--verde);
}

main section.projetos section.cards div.card div.buttons a{
    font-size: 0.9rem;
}