@charset "utf-8";
@import url(left.css);
@import url(right.css);
@import url(timeLine.css);
@import url(cards.css);

*{
    margin: 0px;
    padding: 0pc;
}

:root {
    --background: #0e22d1;
    --transparence10: #ffffff1a;
    --transparence20: #ffffff33;
    --transparence40: #ffffff66;
    --transparence50: #ffffff80;
    --transparence60: #ffffff99;
    --transparence80: #ffffffcc;
    --primary: #0078FF;
    --secondary: #FF6F00;
    --tertiary: #2A2A2A;
    --quaternary: #39FF14;
    --quinary: #8A2BE2;

    --linkedin: #073f77;
    --whatsapp: #25d366;
    --github: #413838;
    --instagram: #c13584;
    --email: #d23e33;
}

body{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
    min-height: 100vh;
    background: var(--quaternary);
    background: linear-gradient(39deg, var(--quaternary) 0%, var(--primary) 20%, var(--background) 80%, var(--quinary) 100%);
}

main{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1200px;
}

ul{
    list-style: inside;
    width: fit-content;
    margin: 0px auto;
}

a{
    text-decoration: none;
    color: #000000;
}

a:hover{
    color: var(--secondary);
}

ul li{
    text-wrap: nowrap;
    padding: 0px 10px;
}

@media screen and (max-width: 800px){
    main{
        flex-flow: column-reverse wrap;
    } 
}
