@charset "utf-8";
@import url(left.css);
@import url(right.css);

*{
    margin: 0px;
    padding: 0pc;
}

:root {
    --background: #0e22d1;
    --transparence20: #ffffff33;
    --transparence40: #ffffff66;
    --transparence50: #ffffff80;
    --transparence60: #ffffff99;
    --transparence80: #ffffffcc;
    --primary: #0078FF;
    --secondary: #FF6F00;
    --tertiary: #2A2A2A;
    --quaternary: #39FF14;
    --quinary: #8A2BE2;
}

body{
    background: var(--tertiary);
}

main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    justify-self: center;
    max-width: 1200px;
    min-height: 100vh;
    background: rgb(57,255,20);
    background: linear-gradient(39deg, var(--quaternary) 0%, var(--primary) 20%, var(--background) 80%, var(--quinary) 100%);
}

ul{
    list-style: inside;
    width: fit-content;
    margin: 0px auto;
}

h1{
    width: fit-content;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 10px auto;
    border-bottom: var(--secondary) 0.5rem dotted;
}
